* {
    box-sizing: border-box;
}

html {
    display: block;
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/************** HEADER ***************/
header {
    height: 100vh;
}

/************** MENU BTN ***************/
.menu-btn {
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 55px;
    height: 55px;
    z-index: 10;
    padding: 5px 0 5px 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.bar,
.bar::after,
.bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    background-color: rgb(0, 0, 0);
    content: '';
    height: 4px;
    width: 35px;
}

.bar {
    margin-top: 0;
}

.bar::after {
    margin-top: 9px;
}

.bar::before {
    margin-top: -9px;
}

.menu-btn.expanded {
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.expanded .bar {
    background: transparent;
}

.menu-btn.expanded .bar::after,
.menu-btn.expanded .bar::before {
    margin-top: 0;
}

.menu-btn.expanded .bar::after {
    transform: rotate(45deg);
}

.menu-btn.expanded .bar::before {
    transform: rotate(-45deg);
}

/*************** NAVBAR ***************/
.navbar {
    transition: right 0.4s ease;
    background-color: rgb(255, 255, 255);
    font-size: 1.7em;
    height: 100vh;
    right: -190px;
    position: fixed;
    top: 0;
    width: 190px;
    align-self: center;
    z-index: 1;
}

.navbar.expanded {
    right: 0;
}

.navbar .logo {
    font-size: 1.5em;
    text-align: center;
    margin: 60px 10px 0;
    line-height: 0.9em;
}

.navbar .logo span {
    color: #b88100;
}

.navbar ul {
    position: absolute;
    list-style: none;
    top: 50vh;
    transform: translateY(-30vh);
    width: 100%;
    text-align: center;
    margin: 20vh 0 0;
}

.navbar ul li {
    padding: 5px 0;
}

.navbar ul li a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    border-bottom: 3px solid black;
    transition: all 0.4s ease;
    color: #b88100;
}

/*************** BANNER ***************/
.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -10;
}

.banner {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 67vw;
    padding: 5px;
    border: 10px double white;
    background-color: rgba(255, 255, 255, 0.30);
}

.banner h1 {
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    word-spacing: normal;
    line-height: 1;
    font-size: 2.5em;
}

.banner span {
    color: #b88100;
}

.banner h2 {
    padding: 5px;
    margin: 10px 0;
    text-align: inherit;
}

.banner button {
    margin: 5px;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
}

.banner button a {
    margin: 0;
    padding: 0 20px;
    font-size: 2.2em;
    text-decoration: none;
    color: #b88100;
    font-weight: 600;
    cursor: pointer;
}

.banner button:hover {
    background-color: #b88100;
}

.banner button a:hover {
    color: white;
}

/*************** MAIN ***************/
h1 {
    font-family: 'Playball', cursive;
    word-spacing: 0.4em;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: #b88100;
}

button {
    font-family: 'Playball', cursive;
}

/*************** SECTIONS ***************/
.section-img {
    left: 0;
    height: 75%;
    width: 100%;
    object-fit: cover;
}

.section1-txt,
.section2-txt,
.section4-txt {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 90%;
    padding: 10px;
}

.section1-txt h1,
.section2-txt h1,
.section4-txt h1 {
    font-size: 2.5em;
}

.section1-txt p,
.section2-txt p,
.section4-txt p {
    text-align: justify;
    font-size: 1.1em;
}

.slideshow-container {
    height: 75vh;
}

.slideshow {
    display: none;
}

.slideshow img {
    position: absolute;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

#section3 {
    height: 60vh;
    background: url("img/attractive-1846127_1920.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.section3-txt {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 60vw;
    padding: 5px;
    border: 10px double white;
    background-color: rgba(255, 255, 255, 0.30);
}

.section3-txt h1 {
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    word-spacing: normal;
    line-height: 1;
    font-size: 2.2em;
}

.section3-txt p {
    font-weight: 600;
}

#section5 {
    background: url("img/background-bags-black-346751.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    justify-items: center;
    height: 65vh;
}

#section5 h1 {
    text-align: center;
    margin: 30px 0 20px;
    text-transform: uppercase;
    color: white;
    font-size: 2.6em;
}

form {
    width: 80vw;
    margin-top: 10px;
    justify-self: center;
}

input {
    width: 80vw;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    margin: 5px 0;
    padding: 5px;
    border: none;
    cursor: pointer;
}

textarea {
    width: 80vw;
    height: 20vh;
    margin: 5px 0;
    padding: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    overflow-y: scroll;
}

input[type="submit"] {
    cursor: pointer;
    justify-self: center;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 2.2rem;
    color: #b88100;
    font-weight: 600;
    margin: 20px auto 20px auto;
    font-family: 'Playball', cursive;
    width: 120px;
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    background-color: rgba(184, 129, 0, 0.8);
    color: white;
}

input:focus, textarea:focus {
    background-color: white;
}

/*************** FOOTER ***************/
footer {
    text-align: center;
    height: 35vh;
    background: black;
    color: white;
    text-transform: uppercase;
}

footer h1 {
    padding: 30px 0 15px;
    font-size: 2.6em;
}

.icon {
    font-size: 2.6em;
    margin: 5px 15px;
    color: white;
}

.icon {
    color: #e09d00;
}

/*************** MEDIA (350PX) ***************/
@media (min-width: 350px) {
    .navbar {
        right: -200px;
        width: 200px;
    }

    .navbar .logo {
        font-size: 1.6em;
        margin: 65px 10px 0;
    }

    .navbar ul li {
        padding: 7px 0;
    }

    .navbar a {
        font-size: 1.1em;
    }
}

/*************** MEDIA (550PX) ***************/
@media (min-width: 550px) {
    .navbar .logo {
        margin: 75px 10px 0;
    }

    .navbar ul {
        margin: 15vh 0 0;
    }

    .navbar ul li {
        padding: 8px 0;
    }

    .navbar a {
        font-size: 1.2em;
    }

    .banner {
        left: 3vw;
        width: 45vw;
        padding: 10px;
    }

    .banner h1 {
        word-spacing: 0.2em;
        font-size: 4em;
    }

    .banner h2 {
        padding: 5px 10px;
        font-size: 2em;
        font-weight: 400;
    }

    .banner button {
        margin: 10px;
    }

    .banner button a {
        font-size: 2.8em;
        font-weight: 500;
    }

    #section1,
    #section2,
    #section3,
    #section4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #section1 .section-img,
    #section2 .section-img,
    #section4 .section-img {
        height: 100vh;
        width: 100%;
    }

    h1 {
        word-spacing: 0.3em;
    }

    .section1-txt,
    .section2-txt,
    .section4-txt {
        width: 80%;
    }

    .section1-txt h1,
    .section2-txt h1,
    .section4-txt h1 {
        font-size: 3.5em;
        margin-bottom: 5vh;
    }

    .section1-txt p,
    .section2-txt p,
    .section4-txt p {
        font-size: 1.3em;
    }

    .slideshow-container {
        height: 100vh;
    }

    #section3 {
        height: 80vh;
    }

    .section3-txt h1 {
        font-size: 3.5em;
    }

    .section3-txt p {
        font-weight: 400;
        font-size: 2em;
    }

    #section5 {
        height: 70vh;
    }

    #section5 h1 {
        text-align: center;
        margin: 20px;
        text-transform: uppercase;
        color: white;
        font-size: 3em;
    }

    form {
        width: 60vw;
        font-size: 1.2em;
        margin-top: 15px;
    }

    input {
        width: 60vw;
    }

    textarea {
        width: 60vw;
        height: 30vh;
    }

    input[type="submit"] {
        font-size: 2.5em;
    }

    footer {
        height: 30vh;
    }

    footer h1 {
        font-size: 2.8em;
    }

    .icon {
        font-size: 2.8em;
        margin: 10px 25px;
    }
}

/*************** MEDIA (750PX) ***************/
@media (min-width: 750px) {
    .section1-txt,
    .section2-txt,
    .section4-txt {
        width: 70%;
    }

    .section1-txt h1,
    .section2-txt h1,
    .section4-txt h1 {
        font-size: 3.7em;
    }

    .section1-txt p,
    .section2-txt p,
    .section4-txt p {
        font-size: 1.5em;
    }

    #section5 {
        height: 80vh;
    }

    #section5 h1 {
        margin-top: 30px;
    }
}

/*************** MEDIA (900PX) ***************/
@media (min-width: 900px) {
    .section1-txt,
    .section2-txt,
    .section4-txt {
        width: 60%;
    }
}