* {
    box-sizing: border-box;
}

html {
    display: block;
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/************** HEADER ***************/
header {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/************** MENU BTN ***************/

.menu-btn {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 55px;
    height: 55px;
    z-index: 10;
    padding: 5px 0 5px 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.bar,
.bar::after,
.bar::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    background-color: rgb(0, 0, 0);
    content: '';
    height: 4px;
    width: 35px;
}

.bar {
    margin-top: 0;
}

.bar::after {
    margin-top: 9px;
}

.bar::before {
    margin-top: -9px;
}

.menu-btn.expanded {
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.expanded .bar {
    background: transparent;
}

.menu-btn.expanded .bar::after,
.menu-btn.expanded .bar::before {
    margin-top: 0;
}

.menu-btn.expanded .bar::after {
    transform: rotate(45deg);
}

.menu-btn.expanded .bar::before {
    transform: rotate(-45deg);
}

/*************** NAVBAR ***************/

.navbar {
    transition: right 0.4s ease;
    background-color: rgb(255, 255, 255);
    font-size: 1.7em;
    height: 100vh;
    right: -190px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 190px;
    align-self: center;
    z-index: 1;
}

.navbar.expanded {
    right: 0;
}

.navbar .logo {
    font-size: 1.5em;
    text-align: center;
    margin: 60px 10px 0;
    padding: 0;
    line-height: 0.9em;
}

.navbar .logo span {
    color: #b88100;
}

.navbar ul {
    position: absolute;
    list-style: none;
    top: 50vh;
    transform: translateY(-30vh);
    width: 100%;
    text-align: center;
    margin: 20vh 0 0;
    padding: 0;
}

.navbar ul li {
    padding: 5px 0;
}

.navbar a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    border-bottom: 3px solid black;
    transition: all 0.4s ease;
    color: #b88100;
}

/*************** BANNER ***************/

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -10;
}

.banner {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 67vw;
    padding: 5px;
    border: 10px double white;
    background-color: rgba(255, 255, 255, 0.30);
}

.banner h1 {
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    word-spacing: normal;
    line-height: 1;
    font-size: 2.5em;
}

.banner span {
    color: #b88100;
}

.banner h2 {
    padding: 5px;
    margin: 10px 0;
    text-align: inherit;
}

.banner button {
    margin: 5px;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
}

.banner button a {
    margin: 0;
    padding: 0 20px;
    font-size: 2.2em;
    text-decoration: none;
    color: #b88100;
    font-weight: 600;
    cursor: pointer;
}

.banner button:hover {
    background-color: #b88100;
}

.banner button a:hover {
    color: white;

}

/*************** MAIN ***************/
section {
    height: 100vh;
}

h1 {
    font-family: 'Playball', cursive;
    margin: 0;
    word-spacing: 0.5em;
}

span {
    color: #b88100;
}

button {
    font-family: 'Playball', cursive;
}

.section-img {
    left: 0;
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}

/*************** SECTIONS ***************/
#section2 {
    height: 100vh;
}

.section2-txt {
    height: 20vh;
}

.slideshow-container {
    height: 80vh;
}

.slideshow {
    display: none;
}

.slideshow img {
    position: absolute;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

#section3 {
    height: 50vh;
    background: url("img/attractive-1846127_1920.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.section3-txt {
    height: 25vh;
    padding: 5px;
    border: 10px double white;
    background-color: rgba(255, 255, 255, 0.30);
}

.section3-txt h1 {
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    word-spacing: normal;
    line-height: 1;
    font-size: 2.2em;
}

.section3-txt p {
    font-weight: 600;
}

#section5 {
    background: url("img/background-bags-black-346751.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    justify-items: center;
    height: 65vh;
}

#section5 h1 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 2.6em;
}

form {
    width: 80vw;
    display: grid;
    justify-self: center;
    font-size: 1em;
    margin-top: 10px;
}

input {
    justify-self: center;
    width: 80vw;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    margin: 5px 0;
    padding: 5px;
    border: none;
    cursor: pointer;
}

textarea {
    display: grid;
    justify-self: center;
    width: 80vw;
    height: 20vh;
    margin: 5px 0;
    padding: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    overflow-y: scroll;
}

input[type="submit"] {
    cursor: pointer;
    display: grid;
    justify-self: center;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 2.2rem;
    color: #b88100;
    font-weight: 600;
    margin: 10px auto 20px auto;
    font-family: 'Playball', cursive;
    width: 100px;
    -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
    background-color: rgba(184, 129, 0, 0.8);
    color: white;
}

input:focus, textarea:focus {
    background-color: white;
}

/*************** FOOTER ***************/
footer {
    text-align: center;
    height: 35vh;
    background: black;
    color: white;
    text-transform: uppercase;
}

footer h1 {
    padding: 20px;
    font-size: 2.6em;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-pinterest-p,
.fa-snapchat-ghost,
.fa-youtube,
.fa-vine,
.fa-linkedin-in {
    font-size: 2.6em;
    margin: 5px 10px;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-pinterest-p:hover,
.fa-snapchat-ghost:hover,
.fa-youtube:hover,
.fa-vine:hover,
.fa-linkedin-in:hover {
    color: #e09d00;
}

/*************** MEDIA (350PX) ***************/
.navbar {
    right: -200px;
    width: 200px;
}

.navbar .logo {
    font-size: 1.6em;
    margin: 65px 10px 0;
}

.navbar ul li {
    padding: 7px 0;
}

.navbar a {
    font-size: 1.1em;
}

/*************** MEDIA (550PX) ***************/
@media (min-width: 550px) {
    .navbar .logo {
        margin: 75px 10px 0;
    }

    .navbar ul {
        margin: 15vh 0 0;
    }

    .navbar ul li {
        padding: 8px 0;
    }

    .navbar a {
        font-size: 1.2em;
    }

    #section1,
    #section2,
    #section3,
    #section4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #section1 .section-img,
    #section2 .section-img,
    #section4 .section-img {
        height: 100vh;
        width: 100%;
    }
}